@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #5396fb;
    --secondary: #8fd8fc;
    --danger: #ff204e;
    --background: #020617;
    --foreground: #1e293b;
    --dark: #020617;
    --light: #ffff;
  }
}

@layer utilities {
  body {
    @apply font-sans text-dark bg-light dark:text-light dark:bg-background;
  }

  .toast-top-left {
    @apply fixed top-2 left-2 z-[100] md:max-w-[420px];
  }

  .nav-link {
    @apply flex items-center gap-2 text-sm px-4 py-3 my-[2px] rounded-none cursor-pointer;
  }

  .nav-active {
    @apply bg-slate-200 dark:bg-slate-800;
  }
}
